/* DatePage.css */

.DatePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 91vh;
  background-color: #282c34;
  color: white;
  font-family: 'Arial', sans-serif;
}

.DatePage-header {
  width: 80%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.instructions {
  width: 45%;
  background-color: #3a3f47;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.instructions h3 {
  margin-top: 0;
}

.instructions ol {
  padding-left: 20px;
}

.instructions ol li {
  margin-bottom: 10px;
}

.date-time-inputs {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: #3a3f47;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.date-time-inputs h3 {
  margin-top: 0;
}

.date-time-inputs label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.date-time-inputs input[type="date"],
.date-time-inputs input[type="time"] {
  margin-left: 10px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #50575e;
  color: white;
  width: 100%;
}

.date-time-inputs .button {
  align-self: center;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #10e842;
  color: #282c34;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.date-time-inputs .button:hover {
  background-color: #21a1f1;
}

.error {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}
